@media only screen and (max-width:600px) {
    #nav-logo {
        scale: 80%;
        height: 4vh;
        margin-left:0vw;
    }
    .nav-bar{
        padding: 1vh 1vh;
        display: flex;
        align-items: center;
    }
    .nav-bar a {
        font-size: 14px;
        width: 80%;
    }
    .nav-item{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2vh;
        margin-right: 6vw;
        font-size: 12px;
    }
    .inputGroup input {
        font-size: 14px;
        outline: none;
        border: 0.5vh solid rgb(0, 0, 0);
        background-color: transparent;
        border-radius: 3vw;
        width: 90%;
        margin-left: -5vw;
    }
    .search{
        margin-right:10vw;
    }
    .inputGroup label {
        font-size: 14px;
        position: absolute;
        left: -2vw;
        top: 0.5vw;
        padding: 0;
        margin-left: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        color: rgb(0, 0, 0);
    }
    .dropdown li a {
        font-size: 12px;
    }
    #hd12{
        text-align: center;
        margin-top: 50vh;
    }
    #hd1{
        position:relative;
        text-align: center;
        margin-top:100vh;
    }
    .socialimg {
        height: 7vw;
        width: 7vw;
    }
    .grid-container {
        grid-template-columns: repeat(1, 3fr);
        gap: 10vh;
    }
    .card {
        width: 60vw;
        height: 40vh;
    }
    .button[data-icon="shopping-cart"]::before {
        content: "";
        background-image: url("images/icon-cart.svg");
        width: 4vw;
        height: 2vh;
    }
    .grid-container-jordans {
        grid-template-columns: repeat(1, 1fr);
        gap:10vh;
    }
    
    .flip-front img {
        position: relative;
        width: 100%;
    }
    .product{
        line-height: 4.5vh;
    }
}